- present comment do |comment_presenter|
  .comment{ id: comment_presenter.id }
    %span.author_name
      = comment_presenter.author.email
      = comment_presenter.link_to_comment
    %span.comment_text= comment_presenter.text
    %span.comment_actions
      = comment_presenter.actions
    .replays
      = yield if block_given?
