.devise-form
  %h2 Вход
  = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
    .control-group
      = f.label "Email"
      .controls
        = f.email_field :email
    .control-group
      = f.label "Пароль"
      .controls
        = f.password_field :password
    - if devise_mapping.rememberable?
      .control-group
        .controls
          = f.check_box :remember_me
          = f.label "Запомнить меня"
    .control-group.center
      = f.submit "ВОЙТИ", :class => "button"
    .control-group.center
      = render "devise/shared/links"