- present @post do |post_presenter|
  = form_for @post, class: 'post_form' do |f|
    .actions
      = post_presenter.create_link(f)
      = post_presenter.preview_link(f)
    #post_preview{ data: { 'default-text' => t('nothing_to_preview') }}
      - if params[:preview] and not @post.body.blank?
        = showdown_markdown(@post.body)
    #post_editor
      .field
        = f.label :title
        %br
        = f.text_field :title
      .field
        = f.label :body
        %br
        = f.text_area :body, id: 'source'
    .actions
      = post_presenter.create_link(f)
      = post_presenter.preview_link(f)
