= form_for @post, class: 'post_form' do |f|
  .actions
    = f.submit t('create')
    = f.submit t('preview'), name: 'preview', class: 'preview_button', data: { edit_text: t('edit') }
  #post_preview
    - if params[:preview]
      = @post.body.blank? ? t('nothing_to_preview') : showdown_markdown(@post.body)
    - else
      = t('nothing_to_preview')
  #post_editor
    .field
      = f.label :title
      %br
      = f.text_field :title
    .field
      = f.label :body
      %br
      = f.text_area :body, id: 'source'
  .actions
    = f.submit t('create')
    = f.submit t('preview'), name: 'preview', class: 'preview_button', data: { edit_text: t('edit') }
