%p
  = t('posts.add_comment')
  = form_for [post, comment_presenter.comment], url: replay_post_path(post, anchor: comment_presenter.id) do |f|
    = f.text_area :text, rows: 4
    %p
      = f.submit t('replay') 
      = f.submit t('preview'), name: 'preview'
