%p
  %b= User.human_attribute_name(:email)
  = link_to @post.author.email, user_profile_path(@post.author)
%p
  %b= @post.title
= @post.body
%br
- if can? :edit, @post
  = link_to t('edit'), edit_post_path(@post)

#comments
  = comments_for(@post)

- if can? :replay, Post
  %p
    = t('.add_comment')
    = form_for [@post, @comment || @post.comments.build], url: replay_post_path(@post, anchor: "new_comment") do |f|
      = f.text_area :text, rows: 4
      %p
        = f.submit t('replay')
        = f.submit t('preview'), name: 'preview'
