%p
  %b= User.human_attribute_name(:email)
  = link_to @post.author.email, user_profile_path(@post.author)
%p
  %b= @post.title
= @post.body
%br
= link_to t('edit'), edit_post_path(@post)

%p
  = t('.add_comment')
  = form_for [@post, @post.comments.build] do |f|
    = f.label :text
    = f.text_field :text
    %p
      = f.submit
