- present @post do |post_presenter|
  %hr
    %b= post_presenter.title
  %hr
  = post_presenter.body
  = post_presenter.actions
  %hr
  #comments
    = post_presenter.comments
  - present (@comment || @post.comments.build) do |comment_presenter|
    = post_presenter.replay_form(comment_presenter)
    - if can? :replay, Comment
      %script{ type: 'text/template', id: 'comment_form_template' }
        = render partial: 'comments/replay_form', locals: { post: @post, comment: 'COMMENT', new_comment: Comment.new }
      %script{ type: 'text/template', id: 'comment_template' }
        = render partial: 'comments/comment', locals: { comment: current_user.comments.build { |c| c.post = @post }}
